################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication1/FileContentIndex/1e81578c-44bf-49b1-b386-e0f6f6fd8fb7.vsidx
/.vs/WebApplication1/FileContentIndex/3a026788-82d6-40f0-89ea-134fd2fae35d.vsidx
/.vs/WebApplication1/FileContentIndex/41bbb858-1fee-4604-b29e-36bbb1b6e838.vsidx
/.vs/WebApplication1/FileContentIndex/887739fb-edb6-4fe8-b863-e95e8c3c3655.vsidx
/.vs/WebApplication1/FileContentIndex/e6ea1e37-3f39-4ff5-a949-73a9d9d0d0cf.vsidx
/.vs/WebApplication1/FileContentIndex/f8bac932-dcfa-45cb-a0a6-551cb8479ab0.vsidx
/.vs/WebApplication1/v17/.suo
/.vs/Asp-Api/FileContentIndex/18621e42-5895-4119-813f-8d64e8c2a3f4.vsidx
/.vs/Asp-Api/FileContentIndex/2d747500-eaa7-4958-bcd0-682035bb88d1.vsidx
/.vs/Asp-Api/FileContentIndex/5704412f-9f03-4581-9dd2-52be2fea91ce.vsidx
/.vs/Asp-Api/FileContentIndex/992c3ddf-819c-458d-94fb-a7ba0eb4518a.vsidx
/.vs/Asp-Api/FileContentIndex/b6add837-6d84-495c-93bf-07daca04c192.vsidx
/.vs/Asp-Api/FileContentIndex/0d04f941-e8ec-48f7-b2ab-147b61fd735d.vsidx
/.vs/slnx.sqlite
/.vs/Asp-Api/FileContentIndex/90800f82-905c-4ae9-8381-f710702a063f.vsidx
